<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CollectPhoto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <CollectPhoto.Properties.Settings>
            <setting name="SearchSourceDirectoriesDeepLimitation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterWhileSearching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDetermine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultipleJobs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateSubDestinationRootDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyLowGradeImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteAlreadyExists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteAfterCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDirectories" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationRootDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchDirectoriesBypassPatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationSubDirectories" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameComponent" serializeAs="String">
                <value />
            </setting>
        </CollectPhoto.Properties.Settings>
    </userSettings>
</configuration>
